<!doctype html>
<html>
<head>
	<title>Workout Tracker</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<script src="/javascripts/clickActions.js" type="text/javascript"></script>
</head>
<body>

	<header>
		<img src="/images/gym.jpeg" alt="logo" width="175">
		<p>
		<center>
			<h3>Workout Tracker - Kaplan's Gym</h3>
			<h4>View: {{title}}</h4>
		</center>
	</header>
	<div class="panel-body">
		{{{body}}}
	</div>
	

</body>
</html>


