<div>
	<b>Welcome back! Please enter your name:</b> <br> <br>
<p></p>
<form method="POST" action="/client">
	
	<label for="id">Name:</label>
	<input  type="text" name="name" size="30" placeholder="Enter name">
    <br> <br>
	<label for="date">Date:</label>
    <input  type="text" name="date" placeholder="Enter date here">
	<p></p>
  	<input type="submit" value="Log In" class="btn btn-primary" />
	<br><br><br>
   
</form>
</div>